<!DOCTYPE html>
<html lang="en" ng-app="FeTSy" ng-strict-di>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">

    <title>FeTSy</title>

    <!-- Libraries styles -->
    <link rel="stylesheet" href="css/fetsy-libs.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fetsy.css">

    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.src.js"></script>
    <![endif]-->

    <!-- Libraries JavaScript -->
    <script src="js/fetsy-libs.js"></script>

    <!-- Custom JavaScript -->
    <script src="js/fetsy.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
</head>

<body>

    <!-- Top navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl as navbarCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FeTSy</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-show="navbarCtrl.userIsStaff"><a href="#">Administration</a></li>
                    <li ng-show="navbarCtrl.userIsStaff"><a href="#">REST API</a></li>
                    <li><a href="#">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>


   <div class="container">

        <div style="padding: 2.9em 1.1em;">

            <!-- Connection open message -->
            <div class="row" ng-controller="ConnectionMessageCtrl as connectionMessage">
                <div class="col-sm-offset-2 col-sm-8">
                    <alert type="success" ng-show="connectionMessage.connectionOpen">Connection established. Have a nice day.</alert>
                    <alert type="warning" ng-hide="connectionMessage.connectionOpen">Connection failed. Please reload the page or call the server administrator.</alert>
                </div>
            </div><!-- / .row Connection open message -->

            <!-- Pagination bar -->
            <div class="row" ng-controller="PaginationCtrl as pagination">
                <div class="col-sm-12">
                    <pagination total-items="pagination.totalItems"
                                items-per-page="pagination.itemsPerPage"
                                max_size="7"
                                ng-model="pagination.paginationPage"
                                ng-change="pagination.change()"
                                class="pagination-sm"
                                boundary-links="true">
                    </pagination>
                </div>
            </div><!-- / .row Pagination bar -->

            <!-- Top functionality row -->
            <div class="row" style="padding-bottom:1.5em;" ng-controller="TopRowCtrl as topRow">

                <!-- New ticket button -->
                <div class="col-sm-3">
                    <button type="button"
                            class="btn btn-primary"
                            ng-show="topRow.newTicketForm"
                            ng-click="topRow.newTicketForm()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        New Ticket
                    </button>
                </div><!-- / .col-sm-3 New ticket button -->

                <!-- Show remaining time in minutes checkbox -->
                <div class="col-sm-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="topRow.remainingTimeValue" ng-change="topRow.remainingTimeChange()">
                            Show remaining time in minutes
                        </label>
                    </div>
                </div><!-- / .col-sm-3 Show remaining time in minutes checkbox-->

                <!-- Hide closed tickets checkbox -->
                <div class="col-sm-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="topRow.closedValue" ng-change="topRow.closedChange()">
                            Hide closed tickets
                        </label>
                    </div>
                </div><!-- / .col-sm-3 Hide closed tickets checkbox -->

                <!-- Search bar for filtering the table -->
                <div class="col-sm-3">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="search" class="sr-only">
                                Search
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span id="searchIcon" class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    <span class="sr-only">Search</span>
                                </div>
                                <input id="search"
                                       type="text"
                                       class="form-control"
                                       placeholder="Search"
                                       aria-describedby="searchIcon"
                                       ng-model="topRow.searchValue"
                                       ng-change="topRow.searchChange()">
                                <div class="input-group-btn">
                                    <span type="button"
                                          title="Reset search field"
                                          class="btn btn-default"
                                          ng-click="topRow.searchValue = ''; topRow.searchChange()">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        <span class="sr-only">Reset search field</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- / .col-sm-3 Search bar for filtering the table -->

            </div><!-- / .row Top functionality row -->

            <!-- Ticket list -->
            <div ng-controller="TicketListCtrl as tickets">

                <!-- Ticket list header -->
                <div class="row ticket-row ticket-list-header">

                    <!-- Header for extra small devices -->
                    <div ng-repeat="header in tickets.headers"
                         class="col-xs-2 visible-xs-inline"
                         ng-click="tickets.toggleSort(header.sortKey)">
                        <a role="button">
                            <span ng-show="$first">#</span>
                            <span ng-hide="$first"
                                  title="{{ header.displayName }}"
                                  class="glyphicon"
                                  ng-class="header.iconCSSClass"
                                  aria-hidden="true">
                            </span>
                        </a>
                        <span class="pull-right"
                              ng-class="tickets.reverse ? null : 'dropup'"
                              ng-show="tickets.sortColumn === header.sortKey">
                            <span class="caret"></span>
                        </span>
                    </div>

                    <!-- Header for small devices and greater -->
                    <div ng-repeat="header in tickets.headers"
                         class="hidden-xs"
                         ng-class="header.col"
                         ng-click="tickets.toggleSort(header.sortKey)">
                        <a role="button">
                            <span ng-show="$first">#</span>
                            <span ng-hide="$first"
                                  title="{{ header.displayName }}"
                                  class="glyphicon"
                                  ng-class="header.iconCSSClass"
                                  aria-hidden="true">
                            </span>
                        </a>
                        <span class="pull-right"
                              ng-class="tickets.reverse ? null : 'dropup'"
                              ng-show="tickets.sortColumn === header.sortKey">
                            <span class="caret"></span>
                        </span>
                    </div>

                </div><!-- / .row Ticket list header -->

                <!-- Ticket list body -->
                <div class="row ticket-row"
                     ng-repeat="ticket in tickets.all |
                                orderBy : tickets.sortColumn : tickets.reverse |
                                limitTo : tickets.itemsPerPage : tickets.getPaginationBegin() |
                                filter : tickets.getSearch() |
                                filter: tickets.closedFilter"
                     ng-class-odd="'ticket-row-odd'"
                     ng-class="$last ? 'ticket-row-last' : null">
                    <div ng-repeat="header in tickets.headers"
                         ng-class="header.col">
                        <span ng-hide="$first"
                              title="{{ header.displayName }}"
                              class="glyphicon visible-xs-inline"
                              ng-class="header.iconCSSClass"
                              aria-hidden="true">
                        </span>
                        {{ ticket[header.sortKey] }}
                    </div>
                    <div class="col-sm-1">Buttons</div>
                </div><!-- / .row Ticket list body -->

            </div><!-- / Ticket list -->

        </div>

        <hr>

        <footer>
            <p>&copy; 2015 <a href="http://rechtsanwalt-jaeckel.de">Norman Jäckel</a></p>
        </footer>

    </div><!-- / Main container -->

    <!-- newTicketForm modal -->

</body>

</html>
