<div ng-include="'connection-message.html'"></div>

<!-- Top functionality row -->
<div class="row" style="padding-bottom:1.5em;" ng-controller="TagAdministrationTopRowCtrl as tagAdministrationTopRow">

    <!-- New tag button -->
    <div class="col-sm-3">
        <button type="button"
                class="btn btn-primary"
                ng-show="tagAdministrationTopRow.newTagForm"
                ng-click="tagAdministrationTopRow.newTagForm()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New Tag
        </button>
    </div><!-- / .col-sm-3 New tag button -->

</div><!-- / .row Top functionality row -->

<!-- Tag administration -->
<div ng-controller="TagAdministrationCtrl as tagAdministration">

    <!-- Tag administration header -->
    <div class="row ticket-row ticket-list-header">

        <!-- Header for extra small devices -->
        <!-- None -->

        <!-- Header for small devices and greater -->
        <div class="col-sm-6 hidden-xs">
            <span title="Tag"
                  class="glyphicon glyphicon-tag"
                  aria-hidden="true">
            </span>
        </div>
        <div class="col-sm-4 hidden-xs">
            <span title="Weight"
                  class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true">
            </span>
        </div>

    </div><!-- / .row Tag administration header -->

    <!-- Tag administration body -->
    <div class="row ticket-row"
         ng-repeat="tag in tagAdministration.tags"
         ng-class-odd="'ticket-row-odd'">

        <!-- Tag administration columns -->
        <div class="col-sm-6">
            <span title="Tag"
                  class="glyphicon glyphicon-tag visible-xs-inline"
                  aria-hidden="true">
            </span>
            <span ng-class="'label label-' + tag.color">{{ tag.name }}</span>
        </div>
        <div class="col-sm-4">
            <span title="Weight"
                  class="glyphicon glyphicon-sort-by-attributes visible-xs-inline"
                  aria-hidden="true">
            </span>
            {{ tag.weight }}
        </div>

        <!-- Button column -->
        <div class="col-sm-2">
            <span class="pull-right" ng-if="tagAdministration.updateTagForm">
                <button type="button"
                        title="Update or delete tag"
                        class="btn btn-xs btn-info"
                        ng-click="tagAdministration.updateTagForm(tag)">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    <span class="sr-only">Update or delete tag</span>
                </button>
            </span>
        </div>

    </div><!-- / .row Tag administration body -->

    <!-- Tag administration body empty -->
    <div class="row ticket-row ticket-row-odd"
         ng-show="tagAdministration.tags.length == 0">

         <div class="col-sm-8 col-sm-offset-2">
            No tags found. Try to add a new tag using the button above.
         </div>

    </div><!-- / .row Tag administration body empty -->

    <!-- Second tag administration header -->
    <div class="row ticket-row ticket-row-last ticket-list-header"
         ng-class="tagAdministration.tags.length === 0 || tagAdministration.tags.length % 2 !== 0 ? '' : 'ticket-row-odd'">

        <!-- Second header for extra small devices -->
        <!-- None -->

        <!-- Second header for small devices and greater -->
        <div class="col-sm-6 hidden-xs">
            <span title="Tag"
                  class="glyphicon glyphicon-tag"
                  aria-hidden="true">
            </span>
        </div>
        <div class="col-sm-4 hidden-xs">
            <span title="Color"
                  class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true">
            </span>
        </div>

    </div><!-- / .row Second tag administration header -->

</div>
