<!-- New ticket form modal -->

<!-- New ticket form modal header -->
<div class="modal-header">
    <h3 class="modal-title">
        New ticket
    </h3>
</div><!-- / .modal-header New ticket form modal header -->

<!-- New ticket form modal body -->
<div class="modal-body">
    <div class="form-group">
        <label for="newTicketPeriodOrDeadline" class="sr-only">
            <span ng-if="newTicketForm.remainingTimeValue">Period. Default: 120 minutes.</span>
            <span ng-if="!newTicketForm.remainingTimeValue">Deadline. Default: Time in 120 minutes.</span>
        </label>
        <div class="input-group">
            <div class="input-group-addon">
                <span ng-show="newTicketForm.remainingTimeValue"
                      id="newTicketPeriodOrDeadlineIcon"
                      title="Period (in minutes)"
                      class="glyphicon glyphicon-hourglass"
                      aria-hidden="true">
                </span>
                <span ng-hide="newTicketForm.remainingTimeValue"
                      id="newTicketPeriodOrDeadlineIcon"
                      title="Deadline"
                      class="glyphicon glyphicon-time"
                      aria-hidden="true">
                </span>
            </div>
            <input id="newTicketPeriodOrDeadline"
                   type="text"
                   class="form-control"
                   aria-describedby="newTicketPeriodOrDeadlineIcon"
                   required
                   ng-model="newTicketForm.periodOrDeadlineField">
        </div>
    </div>
    <div class="form-group">
        <label for="newTicketContent" class="sr-only">
            Content
        </label>
        <textarea id="newTicketContent"
                  placeholder="Content"
                  class="form-control"
                  rows="3"
                  required
                  ng-model="newTicketForm.contentField">
        </textarea>
    </div>
</div><!-- / .modal-body New ticket form modal body -->

<!-- New ticket form modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="newTicketForm.save()">
        Save
    </button>
    <button type="button" class="btn btn-default" ng-click="newTicketForm.cancel()">
        Cancel
    </button>
</div><!-- / .modal-footer New ticket form modal footer -->

