<!-- Tag form modal -->

<!-- Tag form modal header -->
<div class="modal-header">
    <h3 class="modal-title">
        <span ng-if="tagForm.type === 'new'">New tag</span>
        <span ng-if="tagForm.type === 'update'">Update tag</span>
    </h3>
</div><!-- / .modal-header Tag form modal header -->

<!-- Tag form modal body -->
<div class="modal-body">
    <div class="form-group">
        <label for="tagName" class="sr-only">
            Name
        </label>
        <div class="input-group">
            <div class="input-group-addon">
                <span id="tagNameIcon"
                      title="Name"
                      class="glyphicon glyphicon-tag"
                      aria-hidden="true">
                </span>
            </div>
            <input id="tagName"
                   type="text"
                   class="form-control"
                   aria-describedby="tagNameIcon"
                   required
                   placeholder="Name"
                   ng-model="tagForm.nameField">
        </div>
    </div>
    <div class="form-group">
        <label for="tagColor" class="sr-only">
            Color
        </label>
        <div class="input-group">
            <div class="input-group-addon">
                <span id="tagColorIcon"
                      title="Color"
                      class="glyphicon glyphicon-text-color"
                      aria-hidden="true">
                </span>
            </div>
            <select id="tagColor"
                    class="form-control"
                    aria-describedby="tagColorIcon"
                    ng-model="tagForm.colorField">
                  <option value="default">gray</option>
                  <option value="primary">dark blue</option>
                  <option value="success">green</option>
                  <option value="info">light blue</option>
                  <option value="warning">yellow</option>
                  <option value="danger">red</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="tagWeight" class="sr-only">
            Weight
        </label>
        <div class="input-group">
            <div class="input-group-addon">
                <span id="tagWeightIcon"
                      title="Weight"
                      class="glyphicon glyphicon-sort-by-attributes"
                      aria-hidden="true">
                </span>
            </div>
            <input id="tagWeight"
                   type="number"
                   class="form-control"
                   aria-describedby="tagWeightIcon"
                   required
                   placeholder="Weight"
                   ng-model="tagForm.weightField">
        </div>
    </div>
</div><!-- / .modal-body Tag form modal body -->

<!-- Tag form modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="tagForm.save()">
        Save
    </button>
    <button type="button" class="btn btn-default" ng-click="tagForm.cancel()">
        Cancel
    </button>
    <button type="button" class="btn btn-danger" ng-if="tagForm.type === 'update'" ng-click="tagForm.deleteTag()">
        Delete tag
    </button>
</div><!-- / .modal-footer Tag form modal footer -->

