<!-- Ticket field textarea -->

<div ng-hide="ticketField.editMode">
    <span ng-repeat="tag in ticketField.ticket.getField('tagsObjects')"
          class="label label-{{ tag.color }}"
          style="margin-right:0.3em;">
          {{ tag.name }}
    </span>
    <a href
       ng-attr-id="{{ticketField.key}}-{{ ticketField.ticket.id }}"
       ng-click="ticketField.editMode = true">
        {{ ticketField.ticket.getField(ticketField.key, true) }}
    </a>
</div>

<form ng-show="ticketField.editMode" ng-submit="ticketField.submitContentChanges(ticketField.inputField, ticketField.tagField)">
    <div class="form-group">
        <label for="{{ticketField.key}}-{{ ticketField.ticket.id }}-tags-select" class="sr-only">
            Tags
        </label>
        <select id="{{ticketField.key}}-{{ ticketField.ticket.id }}-tags-select"
                class="form-control"
                multiple
                chosen
                placeholder-text-multiple="'Select tags'"
                width="'100%'"
                ng-model="ticketField.tagField"
                ng-init="ticketField.tagField = ticketField.ticket.getField('tagsObjects')"
                ng-options="tag.name for tag in ticketField.tags">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="{{ticketField.key}}-{{ ticketField.ticket.id }}-textarea" class="sr-only">
            Content
        </label>
        <textarea id="{{ticketField.key}}-{{ ticketField.ticket.id }}-textarea"
                  class="form-control"
                  rows=3
                  ng-model="ticketField.inputField"
                  ng-init="ticketField.inputField = ticketField.ticket.getField(ticketField.key)">
        </textarea>
    </div>
    <button type="submit" class="btn btn-primary">
        Save
    </button>
    <button type="button" class="btn btn-default" ng-click="ticketField.closeForm()">
        Cancel
    </button>
</form>
