{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="FeTSy">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">

    <title>FetSy</title>

    <!-- Libraries styles -->
    <link href="{% static 'css/fetsy-libs.css' %}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{% static 'css/fetsy.css' %}" rel="stylesheet">

    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.js' %}"></script>
        <script src="{% static 'js/respond.src.js' %}"></script>
    <![endif]-->

    <!-- Libraries JS -->
    <script src="{% static 'js/fetsy-libs.js' %}"></script>

    <!-- Custom JS -->
    <script>
        var baseRestUrl = "{% url 'api-root' %}".replace(/\/$/,'');
        var userPerms = {
            'fetsy.add_ticket': {% if perms.fetsy.add_ticket %}true{% else %}false{% endif %},
            'fetsy.change_ticket': {% if perms.fetsy.change_ticket %}true{% else %}false{% endif %},
        }
    </script>
    <script src="{% static 'js/fetsy.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
</head>

<body>

    <!-- Top navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">FetSy</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">{% trans 'Administration' %}</a></li>
                        <li><a href="{% url 'api-root' %}">{% trans 'REST API' %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% verbatim %}

    <!-- Main container -->
    <div class="container">

        <div style="padding: 2.9em 1.1em;" ng-controller="TicketListCtrl as ticketCtrl">

            <!-- Fetching data message -->
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <alert type="success" ng-hide="ticketCtrl.fetchingData">All data sync. Have a nice day.</alert>
                    <alert type="warning" ng-show="ticketCtrl.fetchingData">Please wait. Fetching data from server.</alert>
                </div>
            </div><!-- / .row Fetching data message -->

            <!-- Pagination bar -->
            <div class="row">
                <div class="col-sm-12">
                    <pagination total-items="ticketCtrl.tickets.length"
                                items-per-page="ticketCtrl.itemsPerPage"
                                max_size="7"
                                ng-model="ticketCtrl.paginationPage"
                                ng-change="ticketCtrl.paginationBegin = (ticketCtrl.paginationPage - 1) * ticketCtrl.itemsPerPage"
                                class="pagination-sm"
                                boundary-links="true">
                    </pagination>
                </div>
            </div><!-- / .row Pagination bar -->

            <!-- Top functionality row -->
            <div class="row" style="padding-bottom:1.5em;">

                <!-- newTicketForm button -->
                <div class="col-sm-3">
                    <button type="button"
                            class="btn btn-primary"
                            ng-show="ticketCtrl.userAddPerm"
                            ng-click="ticketCtrl.newTicketForm()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        New Ticket
                    </button>
                </div><!-- / .col-sm-3 newTicketForm button -->

                <!-- Show remaining time in minutes checkbox -->
                <div class="col-sm-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="ticketCtrl.showRemainingTimeInMinutes">
                            Show remaining time in minutes
                        </label>
                    </div>
                </div><!-- / .col-sm-3 Show remaining time in minutes checkbox-->

                <!-- Show closed tickets checkbox -->
                <div class="col-sm-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="ticketCtrl.showClosed">
                            Show closed tickets
                        </label>
                    </div>
                </div><!-- / .col-sm-3 Show closed tickets checkbox -->

                <!-- Search bar for filtering the table -->
                <div class="col-sm-3">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="search" class="sr-only">
                                Search
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span id="searchIcon" class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    <span class="sr-only">Search</span>
                                </div>
                                <input id="search"
                                       type="text"
                                       class="form-control"
                                       placeholder="Search"
                                       aria-describedby="searchIcon"
                                       ng-model="ticketCtrl.search">
                                <div class="input-group-btn">
                                    <span type="button"
                                          title="Reset search field"
                                          class="btn btn-default"
                                          ng-click="ticketCtrl.search = ''">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        <span class="sr-only">Reset search field</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- / .col-sm-3 Search bar for filtering the table -->

            </div><!-- / .row Top functionality row -->

            <!-- Main table -->
            <table class="table table-striped table-bordered">

                <!-- Table head with clickable sorting -->
                <thead>
                    <tr>
                        <th ng-repeat="header in ticketCtrl.headers" ng-click="ticketCtrl.toggleSort($index)">
                            <a role="button" ng-show="$first">#</a>
                            <a role="button" ng-hide="$first">
                                <span title="{{ header.getVerboseName() }}"
                                      class="glyphicon {{ header.getIconCSSClass() }}"
                                      aria-hidden="true">
                                </span>
                            </a>
                            <span class="pull-right"
                                  ng-class="ticketCtrl.reverse ? null : 'dropup'"
                                  ng-show="ticketCtrl.sortColumn === header.sortKey">
                                <span class="caret"></span>
                            </span>
                        </th>
                        <!-- Here is an empty header cell for the column with close and info button. -->
                        <th></th>
                    </tr>
                </thead><!-- / Table head with clickable sorting -->

                <!-- Table body -->
                <tbody>

                    <tr ng-repeat="ticket in ticketCtrl.tickets |
                                   filter : ticketCtrl.search |
                                   filter : ticketCtrl.closedFilter |
                                   orderBy : ticketCtrl.sortColumn : ticketCtrl.reverse |
                                   limitTo : ticketCtrl.itemsPerPage : ticketCtrl.paginationBegin">

                        <!-- Ticket ID -->
                        <td>
                            <span ng-show="ticket.status === 3">
                                <span title="Ticket is closed"
                                      class="glyphicon glyphicon-ok"
                                      aria-hidden="true">
                                </span>
                                <span class="sr-only">
                                    Ticket is closed
                                </span>
                            </span>
                            <span class="pull-right">
                                {{ ticket.id }}
                            </span>
                        </td><!-- / Ticket ID -->

                        <!-- Ticket content and tags, truncated, with tags and form to update the content -->
                        <td ng-click="ticketCtrl.userChangePerm ? ticket.updatingTicketContentAndTags = true : null">

                            <!-- Ticket content and tags -->
                            <span ng-hide="ticket.updatingTicketContentAndTags">
                                <span ng-repeat="tag in ticket.tags"
                                      class="label label-{{ ticket.getColorCssClass(tag) }}"
                                      style="margin-right:0.3em;">
                                      {{ tag }}
                                </span>
                                {{ ticket.content | limitTo : ticketCtrl.limit }}
                                <span ng-show="ticket.isLong()">…</span>
                            </span><!-- / Ticket content and tags -->

                            <!-- Ticket content and tags update form-->
                            <form role="form"
                                  ng-show="ticket.updatingTicketContentAndTags"
                                  ng-submit="$event.stopPropagation();
                                             ticket.change({'content': ticket.tmpContent, 'tags': ticket.tmpTags});
                                             ticket.updatingTicketContentAndTags = false">
                                <div class="form-group">
                                    <label for="updateTicketTags" class="sr-only">Tags</label>
                                    <div id="updateTicketTags">
                                        <div ng-repeat="tag in ticketCtrl.choices.tags" class="checkbox">
                                            <label>
                                                <input type="checkbox"
                                                       ng-model="ticket.tmpTags[$index]">
                                                {{ tag.display_name }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="updateTicketContent" class="sr-only">Content</label>
                                    <textarea id="updateTicketContent"
                                              class="form-control"
                                              rows="3"
                                              required
                                              ng-model="ticket.tmpContent">
                                    </textarea>
                                </div>
                                <button type="submit"
                                        class="btn btn-primary">
                                    Save
                                </button>
                                <button type="button"
                                        class="btn btn-default"
                                        ng-click="$event.stopPropagation();
                                                  ticket.tmpContent = ticket.content;
                                                  ticket.updatingTicketContentAndTags = false">
                                    Cancel
                                </button>
                            </form><!-- / Ticket content and tags update form-->

                        </td><!-- / Ticket content and tags, truncated, with tags and form to update the content -->

                        <!-- Ticket status with dropdown to change it -->
                        <td class="dropdown" dropdown dropdown-toggle>
                            {{ ticket.getStatusDisplay() }}
                            <ul class="dropdown-menu" ng-show="ticketCtrl.userChangePerm">
                                <li ng-repeat="choice in ticketCtrl.choices.status">
                                    <a role="button" ng-click="ticket.change({'status': choice.value})">
                                        {{ choice.display_name }}
                                    </a>
                                </li>
                            </ul>
                        </td><!-- / Ticket status with dropdown to change it -->

                        <!-- Ticket priority with dropdown to change it -->
                        <td class="dropdown" dropdown dropdown-toggle>
                            {{ ticket.priority }}
                            <ul class="dropdown-menu" ng-show="ticketCtrl.userChangePerm">
                                <li ng-repeat="choice in ticketCtrl.choices.priority">
                                    <a role="button" ng-click="ticket.change({'priority': choice.value})">
                                        {{ choice.value }}
                                    </a>
                                </li>
                            </ul>
                        </td><!-- / Ticket priority with dropdown to change it -->

                        <!-- Ticket assignee with dropdown to change it -->
                        <td class="dropdown" dropdown dropdown-toggle>
                            {{ ticket.assignee }}
                            <ul class="dropdown-menu" ng-show="ticketCtrl.userChangePerm">
                                <li ng-repeat="choice in ticketCtrl.choices.assignee">
                                    <a role="button" ng-click="ticket.change({'assignee': choice.value})">
                                        {{ choice.display_name }}
                                    </a>
                                </li>
                            </ul>
                        </td><!-- / Ticket assignee with dropdown to change it -->

                        <!-- Ticket period or deadline with input field to change it-->
                        <td ng-click="ticketCtrl.userChangePerm ? ticket.updatingTicketPeriodDeadline = true : null">
                            <span ng-hide="ticket.updatingTicketPeriodDeadline || !ticketCtrl.showRemainingTimeInMinutes"
                                  ng-style="ticket.deadlineTimeDeltaMinutes < 0 && {'color': 'red'};">
                                {{ ticket.deadlineTimeDeltaMinutes }} min.
                            </span>
                            <span ng-hide="ticket.updatingTicketPeriodDeadline || ticketCtrl.showRemainingTimeInMinutes"
                                  ng-style="ticket.deadlineTimeDeltaMinutes < 0 && {'color': 'red'};">
                                {{ ticket.deadlineDateString }}
                            </span>
                            <form role="form" ng-show="ticket.updatingTicketPeriodDeadline">
                                <label class="sr-only" for="updateTicketPeriodDeadline">
                                    Period (in minutes)
                                </label>
                                <div  class="input-group input-group-sm">
                                    <div class="input-group-addon">
                                        <span id="updateTicketPeriodDeadlineIcon"
                                              title="Period (in minutes)"
                                              class="glyphicon glyphicon-hourglass"
                                              aria-hidden="true">
                                        </span>
                                    </div>
                                    <input id="updateTicketPeriodDeadline"
                                           type="number"
                                           class="form-control"
                                           placeholder="Minutes"
                                           aria-describedby="updateTicketPeriodDeadlineIcon"
                                           ng-model="ticket.tmpPeriod">
                                    <div class="input-group-btn">
                                        <button type="button"
                                                title="Save"
                                                class="btn btn-sm btn-default"
                                                ng-click="$event.stopPropagation();
                                                          ticket.change({'period': ticket.tmpPeriod});
                                                          ticket.updatingTicketPeriodDeadline = false">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <span class="sr-only">Save</span>
                                        </button>
                                        <button type="button"
                                                title="Cancel"
                                                class="btn btn-sm btn-default"
                                                ng-click="$event.stopPropagation();
                                                          ticket.tmpPeriod = ticket.period;
                                                          ticket.updatingTicketPeriodDeadline = false;">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            <span class="sr-only">Cancel</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td><!-- / Ticket period or deadline with input field to change it-->

                        <!-- Info and close buttons -->
                        <td>
                            <span class="pull-right">
                                <button type="button"
                                        title="Close ticket"
                                        class="btn btn-xs btn-success"
                                        ng-show="ticket.status !== 3 && ticketCtrl.userChangePerm"
                                        ng-click="ticket.change({'status': 3})">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    <span class="sr-only">Close ticket</span>
                                </button>
                                <button type="button"
                                        class="btn btn-xs btn-info"
                                        popover-title="{{ ticket.title }}"
                                        popover="{{ ticket.content }}"
                                        popover-placement="left">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Get more info</span>
                                </button>
                            </span>
                        </td><!-- / Info and close buttons -->

                    </tr>

                </tbody><!-- / Table body -->

            </table><!-- / Main table -->

        </div>

        <hr>

        <footer>
            <p>&copy; 2015 <a href="http://rechtsanwalt-jaeckel.de">Norman Jäckel</a></p>
        </footer>

    </div><!-- / Main container -->

    <!-- newTicketForm modal -->
    <script type="text/ng-template" id="newTicketForm.html">
        <div class="modal-header">
            <h3 class="modal-title">
                New ticket
            </h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="newTicketPeriodDeadline" class="sr-only">
                    <span ng-show="newTicketFormModalCtrl.showRemainingTimeInMinutes">Period. Default: 120 minutes.</span>
                    <span ng-hide="newTicketFormModalCtrl.showRemainingTimeInMinutes">Deadline. Default: Time in 120 minutes.</span>
                </label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span ng-show="newTicketFormModalCtrl.showRemainingTimeInMinutes"
                              id="newTicketPeriodDeadlineIcon"
                              title="Period (in minutes)"
                              class="glyphicon glyphicon-hourglass"
                              aria-hidden="true">
                        </span>
                        <span ng-hide="newTicketFormModalCtrl.showRemainingTimeInMinutes"
                              id="newTicketPeriodDeadlineIcon"
                              title="Deadline"
                              class="glyphicon glyphicon-time"
                              aria-hidden="true">
                        </span>
                    </div>
                    <input id="newTicketPeriodDeadline"
                           type="text"
                           class="form-control"
                           aria-describedby="newTicketPeriodDeadlineIcon"
                           required
                           ng-model="newTicketFormModalCtrl.periodDeadlineField">
                </div>
            </div>
            <div class="form-group">
                <label for="newTicketContent" class="sr-only">
                    Content
                </label>
                <textarea id="newTicketContent"
                          placeholder="Content"
                          class="form-control"
                          rows="3"
                          required
                          ng-model="newTicketFormModalCtrl.content">
                </textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="newTicketFormModalCtrl.save()">
                Save
            </button>
            <button type="button" class="btn btn-default" ng-click="newTicketFormModalCtrl.cancel()">
                Cancel
            </button>
        </div>
    </script><!-- / newTicketForm modal -->

{% endverbatim %}

</body>

</html>
