{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="FeTSy">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">

    <title>FetSy</title>

    <!-- Libraries styles -->
    <link href="{% static 'css/fetsy-libs.css' %}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{% static 'css/fetsy.css' %}" rel="stylesheet">

    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.js' %}"></script>
        <script src="{% static 'js/respond.src.js' %}"></script>
    <![endif]-->

    <!-- Libraries JS -->
    <script src="{% static 'js/fetsy-libs.js' %}"></script>

    <!-- Custom JS -->
    <script>
        var baseRestUrl = "{% url 'api-root' %}".replace(/\/$/,'');
        var userPerms = {
            'fetsy.add_ticket': {% if perms.fetsy.add_ticket %}true{% else %}false{% endif %},
            'fetsy.change_ticket': {% if perms.fetsy.change_ticket %}true{% else %}false{% endif %},
        }
    </script>
    <script src="{% static 'js/fetsy.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
</head>

<body>

    <!-- Top navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">FetSy</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">{% trans 'Administration' %}</a></li>
                        <li><a href="{% url 'api-root' %}">{% trans 'REST API' %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% verbatim %}

    <!-- Main container -->
    <div class="container">

        <div style="padding: 2.9em 1.1em;" ng-controller="TicketListCtrl as ticketCtrl">

            <!-- Top functionality row -->
            <div class="row" style="padding-bottom:0.5em;">

                <!-- newTicketForm button and modal -->
                <div class="col-sm-3">
                    <button type="button"
                            class="btn btn-primary"
                            ng-show="ticketCtrl.userAddPerm"
                            ng-click="ticketCtrl.newTicketForm()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        New Ticket
                    </button>
                    <script type="text/ng-template" id="newTicketForm.html">
                        <div class="modal-header">
                            <h3 class="modal-title">
                                New ticket
                            </h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="newTicketDeadline" class="sr-only">
                                    Deadline (in minutes). Default: 120 minutes.
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span id="newTicketDeadlineIcon"
                                              title="Deadline (in minutes)"
                                              class="glyphicon glyphicon-time"
                                              aria-hidden="true">
                                        </span>
                                    </div>
                                    <input id="newTicketDeadline"
                                           type="number"
                                           class="form-control"
                                           aria-describedby="newTicketDeadlineIcon"
                                           ng-model="newTicketFormModalCtrl.deadline">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newTicketContent" class="sr-only">
                                    Content
                                </label>
                                <textarea id="newTicketContent"
                                          placeholder="Content"
                                          class="form-control"
                                          rows="3"
                                          required
                                          ng-model="newTicketFormModalCtrl.content">
                                </textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="newTicketFormModalCtrl.save()">
                                Save
                            </button>
                            <button type="button" class="btn btn-default" ng-click="newTicketFormModalCtrl.cancel()">
                                Cancel
                            </button>
                        </div>
                    </script>
                </div><!-- / .col-sm-3 newTicketForm button and modal -->

                <!-- Show closed tickets checkbox -->
                <div class="col-sm-3 col-sm-offset-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="ticketCtrl.showClosed">
                            Show closed tickets
                        </label>
                    </div>
                </div><!-- / .col-sm-3 .col-sm-offset-3 Show closed tickets checkbox -->

                <!-- Search bar for filtering the table -->
                <div class="col-sm-3">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="search" class="sr-only">
                                Search
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span id="searchIcon" class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    <span class="sr-only">Search</span>
                                </div>
                                <input id="search"
                                       type="text"
                                       class="form-control"
                                       placeholder="Search"
                                       aria-describedby="searchIcon"
                                       ng-model="ticketCtrl.search">
                                <div class="input-group-btn">
                                    <span type="button"
                                          title="Reset search field"
                                          class="btn btn-default"
                                          ng-click="ticketCtrl.search = ''">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        <span class="sr-only">Reset search field</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- / .col-sm-3 Search bar for filtering the table -->

            </div><!-- / .row Top functionality row -->

            <!-- Main table -->
            <table class="table table-striped table-bordered">

                <!-- Table head with clickable sorting -->
                <thead>
                    <tr>
                        <th ng-repeat="header in ticketCtrl.headers" ng-click="ticketCtrl.toggleSort($index)">
                            <a role="button" ng-show="$first">#</a>
                            <a role="button" ng-hide="$first">
                                <span title="{{ header.verboseName }}"
                                      class="glyphicon {{ header.cssIconClass }}"
                                      aria-hidden="true">
                                </span>
                            </a>
                            <span class="dropup pull-right"
                                  ng-show="ticketCtrl.sortColumn === header.key && !ticketCtrl.reverse">
                                <span class="caret"></span>
                            </span>
                            <span class="pull-right"
                                  ng-show="ticketCtrl.sortColumn === header.key && ticketCtrl.reverse">
                                <span class="caret"></span>
                            </span>
                        </th>
                        <th></th>
                    </tr>
                </thead><!-- / Table head with clickable sorting -->

                <!-- Table body -->
                <tbody>

                    <tr ng-repeat="ticket in ticketCtrl.tickets |
                                   filter : ticketCtrl.search |
                                   filter : ticketCtrl.filtering |
                                   orderBy : ticketCtrl.sortColumn : ticketCtrl.reverse">

                        <!-- Ticket ID -->
                        <td>
                            <span ng-show="ticket.status === 'closed'">
                                <span title="Ticket is closed"
                                      class="glyphicon glyphicon-ok"
                                      aria-hidden="true">
                                </span>
                                <span class="sr-only">
                                    Ticket is closed
                                </span>
                            </span>
                            <span class="pull-right">
                                {{ ticket.id }}
                            </span>
                        </td><!-- / Ticket ID -->

                        <!-- Ticket content, truncated, with tags and form to update the content -->
                        <td ng-click="ticketCtrl.userChangePerm ? ticket.updatingTicketContentAndTags = true : null">

                            <!-- Ticket content and tags -->
                            <span ng-hide="ticket.updatingTicketContentAndTags">
                                {{ ticket.content | limitTo : ticketCtrl.limit }}
                                <span ng-show="ticket.isLong()">…</span>
                                <span ng-repeat="tag in ticket.tags"
                                      class="label label-{{ tag.color_css_class }}"
                                      style="margin-right:0.3em;">
                                      {{ tag.name }}
                                </span>
                            </span><!-- / Ticket content and tags -->

                            <!-- Ticket content update form-->
                            <form role="form"
                                  ng-show="ticket.updatingTicketContentAndTags"
                                  ng-submit="$event.stopPropagation();
                                             ticket.change({'content': ticket.tmpContent, 'tags': ticket.tmpTags});
                                             ticket.updatingTicketContentAndTags = false">
                                <div class="form-group">
                                    <label for="updateTicketTags" class="sr-only">Tags</label>
                                    <multiselect id="updateTicketTags"
                                                 ng-model="ticket.tmpTags"
                                                 options="ticketCtrl.allTags"
                                                 id-prop="name"
                                                 display-prop="name">
                                    </multiselect>
                                </div>
                                <div class="form-group">
                                    <label for="updateTicketContent" class="sr-only">Content</label>
                                    <textarea id="updateTicketContent"
                                              class="form-control"
                                              rows="3"
                                              required
                                              ng-model="ticket.tmpContent">
                                    </textarea>
                                </div>
                                <button type="submit"
                                        class="btn btn-primary">
                                    Save
                                </button>
                                <button type="button"
                                        class="btn btn-default"
                                        ng-click="$event.stopPropagation();
                                                  ticket.tmpTags = ticket.tags;
                                                  ticket.tmpContent = ticket.content;
                                                  ticket.updatingTicketContentAndTags = false">
                                    Cancel
                                </button>
                            </form><!-- / Ticket content update form-->

                        </td><!-- / Ticket content, truncated, with tags and form to update the content -->

                        <!-- Ticket status with dropdown to change it -->
                        <td class="dropdown" dropdown dropdown-toggle>
                            {{ ticket.status }}
                            <ul class="dropdown-menu" ng-show="ticketCtrl.userChangePerm">
                                <li ng-repeat="choice in ticketCtrl.options.actions.METHOD.status.choices">
                                    <a role="button" ng-click="ticket.change({'status': choice.value})">
                                        {{ choice.value }}
                                    </a>
                                </li>
                            </ul>
                        </td><!-- / Ticket status with dropdown to change it -->

                        <!-- Ticket priority with dropdown to change it -->
                        <td class="dropdown" dropdown dropdown-toggle>
                            {{ ticket.priority }}
                            <ul class="dropdown-menu" ng-show="ticketCtrl.userChangePerm">
                                <li ng-repeat="choice in ticketCtrl.options.actions.METHOD.priority.choices">
                                    <a role="button" ng-click="ticket.change({'priority': choice.value})">
                                        {{ choice.value }}
                                    </a>
                                </li>
                            </ul>
                        </td><!-- / Ticket priority with dropdown to change it -->

                        <!-- Ticket assignee with dropdown to change it -->
                        <td class="dropdown" dropdown dropdown-toggle>
                            {{ ticket.assignee.name }}
                            <ul class="dropdown-menu" ng-show="ticketCtrl.userChangePerm">
                                <li ng-repeat="user in ticketCtrl.allUsers">
                                    <a role="button" ng-click="ticket.change({'assignee': {'id': user.id, 'name': user.name}})">
                                        {{ user.name }}
                                    </a>
                                </li>
                            </ul>
                        </td><!-- / Ticket assignee with dropdown to change it -->

                        <!-- Ticket deadline with input field to change it-->
                        <td ng-click="ticketCtrl.userChangePerm ? ticket.updatingTicketDeadline = true : null">
                            <span ng-hide="ticket.updatingTicketDeadline" ng-style="ticket.timeToEnd < 0 && {'color': 'red'};">
                                {{ ticket.timeToEnd }} min.
                            </span>
                            <form role="form" ng-show="ticket.updatingTicketDeadline">
                                <label class="sr-only" for="updateTicketDeadline">Deadline (in minutes)</label>
                                <div  class="input-group input-group-sm">
                                    <div class="input-group-addon">
                                        <span id="updateTicketDeadlineIcon"
                                              title="Deadline (in minutes)"
                                              class="glyphicon glyphicon-time"
                                              aria-hidden="true">
                                        </span>
                                    </div>
                                    <input id="updateTicketDeadline"
                                           type="text"
                                           class="form-control"
                                           placeholder="Minutes"
                                           aria-describedby="updateTicketDeadlineIcon"
                                           ng-model="ticket.tmpDeadline">
                                    <div class="input-group-btn">
                                        <button type="button"
                                                title="Save"
                                                class="btn btn-sm btn-default"
                                                ng-click="$event.stopPropagation();
                                                          ticket.change({'deadline': ticket.tmpDeadline});
                                                          ticket.updatingTicketDeadline = false">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <span class="sr-only">Save</span>
                                        </button>
                                        <button type="button"
                                                title="Cancel"
                                                class="btn btn-sm btn-default"
                                                ng-click="$event.stopPropagation();
                                                          ticket.tmpDeadline = ticket.deadline;
                                                          ticket.updatingTicketDeadline = false;">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            <span class="sr-only">Cancel</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td><!-- / Ticket deadline with input field to change it-->

                        <!-- Info and close buttons -->
                        <td>
                            <span class="pull-right">
                                <button type="button"
                                        title="Close ticket"
                                        class="btn btn-xs btn-success"
                                        ng-show="ticket.status !== 'closed' && ticketCtrl.userChangePerm"
                                        ng-click="ticket.change({'status': 'closed'})">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    <span class="sr-only">Close ticket</span>
                                </button>
                                <button type="button"
                                        class="btn btn-xs btn-info"
                                        ng-click="ticket.popOver($event)" >
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Get more info</span>
                                </button>
                            </span>
                        </td><!-- / Info and close buttons -->

                    </tr>

                </tbody><!-- / Table body -->

            </table><!-- / Main table -->

        </div>

        <hr>

        <footer>
            <p>&copy; 2015 <a href="http://rechtsanwalt-jaeckel.de">Norman Jäckel</a></p>
        </footer>

    </div><!-- / Main container -->

{% endverbatim %}

</body>

</html>
